* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  
}

body{
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;  
  background-color:var(--white-100);
  line-height: 1.5;
}

html{
  scroll-behavior: smooth;
}


