@media screen and (max-width: 430px) {
    .profile__container{
        height: 125vh;
        flex-direction: column;
    }

    .box__img__profile{
        width: 100%;
    }

    .img__profile{
        width: 40%;
    }

    .box__description__profile{
        width: 70%;
    }

    .box__bnt__profile{
        flex-direction: column;
    }

    .bnt__social{
        width: 100%;
    }

    .box__skill__profile{
        flex-wrap: wrap;
    }

    .svg__skill{
        width: 20%;
    }
}