.container__skill {
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.title__skill {
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-200);
  padding-bottom: 2rem;
}

.box__hard__skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.name__hard__skill {
  font-size: var(--font-size-200);
  padding: 0.2rem 0;
}

.box__soft__skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.name__soft__skill {
  font-size: var(--font-size-200);
  padding: 0.2rem 0;
}
