.nav__bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  background-color: var(--white-100);
}

.nav__bar button{
  color: var(--blue-light-500);
  transition: 0.5ms ease-in-out;
}

.nav__bar button:hover{
  color: var(--blue-light-300);
}