.container__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
  background-color: var(--blue-light-500);
}

.box__author__footer {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.author__footer {
  font-size: var(--font-size-200);
  color: var(--white-100);
}

.box__contact__footer {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact__footer {
  font-size: var(--font-size-200);
  color: var(--white-100);
}

.contact__footer:hover {
  opacity: 0.8;
}
